/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.img-rwd {
  width: 100%;
}
.sm-none {
  display: none;
}

/* ---------滾動設定----------- */

main * {
  box-sizing: border-box;
}
main {
  background-image: url(../img/3620-tree.png),
    linear-gradient(to right, #272727, #ffffff, #272727);
  background-size: cover;
  background-color: #c7c7c7;
}

.snap-container {
  scroll-snap-type: y mandatory; /* 垂直滾動並強制對齊 */
  overflow-y: scroll; /* 允許垂直滾動 */
  height: 100vh; /* 確保每一頁都全屏顯示 */
  scroll-behavior: smooth; /* 平滑滾動效果 */
}

.page {
  scroll-snap-align: start; /* 每個頁面在滾動後對齊頂部 */
  height: 100vh; /* 每個頁面高度為全屏 */
  display: flex; /* 根據需求設計每頁內容 */
  justify-content: center;
  align-items: center;
}

.snap-container::-webkit-scrollbar {
  display: none;
}

/* ---------主內容網域編輯區----------- */

.main-content {
  background-image: url(../img/1219385-new.png);
  background-position: bottom right;
  background-size: contain;
  background-repeat: no-repeat;
}

.main-content .wrap {
  background-color: #e7e2e296;
  border: 2px solid #000;
  width: 90%;
  min-height: 75%;
  padding: 30px;
}

.main-content .wrap h1 {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin: 0.8em 0;
  border: 2px solid #000;
  padding: 0.5em;
  background: #ffffffe0;
  color: #ff7a00;
  transform: scale(1.1) translatex(-25px);
}

.main-content .wrap h2 {
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 0.8em;
}

.main-content .wrap div {
  margin-bottom: 1em;
}

.main-content .wrap p {
  font-size: 0.9em;
  line-height: 1.1em;
  color: #ffffff;
  background-color: #413632;
  padding: 5px 10px;
  display: inline-block;
}

.main-content .wrap span {
  display: block;
  font-size: 1em;
  line-height: 1.6em;
  color: #272727;
  font-weight: bold;
}

.img-left img:last-child,
.img-right img:last-child {
  display: none;
}

/* ---------這是小點點----------- */
.nav-dot-container {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  z-index: 10;
}

.nav-dot {
  width: 20px;
  height: 30px;
  padding: 8px 0px;
  margin: auto;
}

.nav-dot span {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
  transition: all 200ms ease;
  margin: auto;
  box-shadow: #272727 0px 0px 2px;
  border: 1px solid #8a8a8a;
}

.nav-dot.dot-active span {
  width: 15px;
  height: 15px;
  background-color: #ff7a00;
}

@media (min-width: 768px) {
  .main-content .wrap {
    width: 78%;
    font-size: 1em;
  }
}

@media (min-width: 1200px) {
  .snap-container {
    display: flex;
    overflow-y: hidden;
  }
  .page {
    flex: 1;
  }

  .page:nth-child(2) {
    flex: 1.3;
  }
  .nav-dot-container {
    display: none;
  }

  .img-left img:last-child,
  .img-right img:last-child {
    display: block;
  }
  .img-left img:first-child,
  .img-right img:first-child {
    display: none;
  }
}

small {
  color:red;
  font-size: 0.1em;
}

@media screen and (max-width: 767px) {
  .main-content .wrap {
    font-size: 0.8em;
  }
}
